/.gradle/
target
/bin/
/build/
.classpath
.settings
.project
*.class
build/classes
built-jar.properties
dist/javadoc
/nbproject/private/
.externalToolBuilders
.idea
*.iml
/.nb-gradle/
RepoZugang.properties
