language: java

jdk:
  - oraclejdk8
  
addons:
  sonarqube: true
env:
  global:
    - secure: "vROFVCc18khzwp59MCvb7NqqhlSM07krRp27hnrYQePTm0YjfNo/fWd2R6/IP9ZrOuWfeFPvZI9ci1Q2MBFm2PUz9OLQg2UiKRk9XHN/u/aQsDaEO4Xlyuj9ONaIzYPjxXVIYw09gDZK34pOKFXmmb4Ef/lliHA91oMprUMB0k4yZRZSeF4o7UCL7UbNGWlg839Tg9hqKebL4vXuNwuoB75TgsqkKu3ayJVq+YD9bA+qzuygf8t8NlcdaHGbmRIPQigJFaUDehp9ntsKQNxazPtiwKB9rmnbtaKkdJNy1f0YAdQxmznSKc18bdGWr9eA69mVkPWrUlSxb304wBHB9CKnQT8yaWlFjMZSjyrIz5Xp7dNcJUHQ7Y19mG1ZmCmQxZd1uP7vA60kSUocCycciV2X0+CjdiYqFhjhiCLkrm3BD9TM7u2g7HjneRyK/5gkyxQo5YW8vfWtVy65vgiAlc0oVRA1YvhRq7v+ppnL3Fhz7osVVc15rZePjQyQ6mSURZ5r94EUU2Jcd6rbxiLnsKycr2dZDfDHhxgQ2L86WsclakoQXitRg2GpabSu/fjIaFAzOVnK5ezXFZaCoWaPJ8IwfMB8U4I0uQDCoWjUXl6c3uAI18xIHF1idvNIiEHiqfUIm0ZiEKLpL2m4EKpx6ig/nYNgNvwI8NDXXAIU56k="
script:
  # other script steps might be done before running the actual SonarQube analysis
  - ./gradlew check
  - ant test
  - sonar-scanner -Dsonar.login=$SONAR_TOKEN

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

deploy:
  provider: releases
  api_key:
      secure: "bbeug3aTt8lC9DP3JzYp1ZbRSm7GLtwaN0BiPcBzBlhmOPrhZoEfqRF8O4zHuJuV3eKMYBG4QpQAUmrZz5RkxJMoZzumBh6glunaGZA31kMQ4CWpNfFgpZziSHaz1Epq2L6H/rmhXFpi90UBdB48Gqhsl1WY/3xX4dC/Aa7X7rm8Fiy5R7DN+VQ/tPrtA1ziSzqSETgqWrbRJsA/ITW6arwKEoGcL2MufSV0kj41pmwkICP6bbPqXWNxyK3j/k6IWSwQLKrPaWkXqwvf0OmUcr4Ce2Y9Xg5ALMOp9//UBLm0hA20AaKVJg/JrgqpFBQlu7R1W6c5CKZhSu4mJY10tAs363G7zPEJebu25rYfGEYLUNZqmMWSG3LE6TnxLRBR6QmOv9qrZ18fGn7EBcy81psWgUBYD7qrjnNl0Kib1nHI9tlBL/m6Cff1wTnMw4MsXvzlkVCT++koh2wEPiAwSi9fep8UhFXM+Kgdml3rMDJ+diD1YFBWF/H3lcKFkKF0QBieXB8FbPdE+BNWMifP5qWfkm5C5VZ3RqQc1TMZ4oXjVejSClf9omJhrFyxYjC0dtzcjMNqzf3Q6okddi6vdTi9zBa9dU7Qa4jMND59jCBjurWqLdSFiOEx/pZhVDMuoWLYZ2udZE5kUEjBk+MTzFe9kUzuzSuJ0irWiWg1eGs="
  file_glob: true
  file:
    - "build/libs/MSearch-.*.jar"
    - "build/MSearch.*.zip"
    - "build/MSearch.*.tar"
  skip_cleanup: true
  on:
    tags: true